body {
    font-family: Arial, sans-serif;
    position: relative;
      display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0;
    margin-bottom: 20px;
    margin-top: 20px;
}

.container {
    width: 1000px;
    margin: auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    margin: 40px auto 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 40px;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
}

th {
    background-color: #f4f4f4;
}

h2 {
    text-align: center;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #435892;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #393F50;
}

.error {
    color: red;
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: 10px;
}

.modal {
    display: grid;
    grid-template-columns: 30% 70%;
    width: 60%;
    background-color: #EBE4DF;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 16px;
      margin: 0 auto;
}

.modal .description {
    background-color: #435892;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

.modal .form-area {
    background-color: #F2EEE7;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}

.modal .form-area label {
    margin-top: 10px;
}

.modal .form-area input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.modal .form-area button {
    padding: 10px;
    background-color: #435892;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: auto;
     margin: 20px auto 0;
}

.modal .form-area button:hover {
    background-color: #393F50;
}

.modal .form-area input:hover {
    border-color: #C6C5B3;
}